{% extends 'base.html' %}
{% block body %}
{% load static %}
		<div >
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-9 ftco-animate">
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Gallery</span></p>
	            <h1 class="mb-3 bread">Galleries</h1>
	            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	          </div>
	        </div>
				</div>
			</section>
			<section class="ftco-section-2">
				<div class="photograhy">
					<div class="row no-gutters">
						{% for x in pic %}
						<div class="col-md-4 ftco-animate">
							<a href="{{ x.image.url }}" class="photography-entry img image-popup d-flex justify-content-center align-items-center img-fluid" style="background-image: url({{ x.image.url}});">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>{{ x.title}}</h3>
									{% for tag in pic.tags.all %}  
									<a href="{% url 'gallery:tag' tag %}" class="tag-cloud-link">{{tag.name}}</a>
									{% endfor %}
								</div>
							</a>
						</div>
						{% endfor %}
						
					</div>
				</div>
			</section>
	    
		</div><!-- END COLORLIB-MAIN -->
	



{% endblock body %}
 
					