{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load bootstrap4 %}



	<section class="ftco-section bg-light ftco-bread">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center">
	  <div class="col-md-9 ftco-animate">
		<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span class="mr-2"><a href="{% url 'blog:list' %}">Blog</a></span> <span>Blog Single</span></p>
		<h1 class="mb-3 bread">Blog detail</h1>
		<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	  </div>
	</div>
		</div>
	</section>

	<div class="section">
		<div class="container">
			<img src="{{ detail.image.url }}" alt="" class="img-fluid">
		  <div class="row">
			
			
			<div class="col-md-8">
			  <p>{{detail.content}}</p>
			  
			  <div class="tag-widget post-tag-container mb-5 mt-5">
				<div class="tagcloud">
				  
				  {% for tag in detail.tags.all %}  
					  <a href="{% url 'blog:tag' tag %}" class="tag-cloud-link">{{tag.name}}</a>
				  {% endfor %}
				</div>
			  </div>


			  <div class="pt-5 mt-5">
				<h3 class="mb-5"> Comments</h3>
				<ul class="comment-list">
				  
				  {% for comment in comments %}
					<li class="comment">
					  <div class="vcard bio">
						<!-- <img src="{{ comment.image.url }}" alt="Image placeholder"> -->
					  </div>
					  <div class="comment-body">
						<h3>{{comment.user}}</h3>
						<div class="meta">{{comment.created}}</div>
						<p>{{comment.content}}</p>
					  </div>



					</li>
				  {% endfor %}
				</ul>
				<!-- END comment-list -->
				
				<div class="comment-form-wrap pt-5">
				  <h3 class="mb-5">Leave a comment</h3>
				  <form method="POST" class="p-5 bg-light">
					  {% csrf_token %}
					  {% bootstrap_form comment_form %}
					  {% buttons %}
						  <button type="submit" class="btn btn-primary">Leave A Comment</button>
					  {% endbuttons %}
				  </form>
				</div>
			  </div>

			</div> <!-- .col-md-8 -->
			<div class="col-md-4 sidebar">
			  <div class="sidebar-box">
				<form action="{% url 'blog:list' %}" method="GET" class="search-form">
				  <div class="form-group">
					<span class="icon fa fa-search"></span>
					<input type="text" class="form-control" name='q' value="{{request.Get.q}}" placeholder="Type a keyword and hit enter">
				  </div>
				</form>
			  </div>
			  <div class="sidebar-box">
				<div class="categories">
				  <h3>Categories</h3>
				  {% for category in categories %}                      
				  <li><a href="{% url 'blog:category' category %}">{{category}}</a></li>

				  {% endfor %}
				</div>
			  </div>


			  <div class="sidebar-box">
				<h3>Tag Cloud</h3>
				<div class="tagcloud">
					
					  {% for tag in all_tags %}
						<a href="{% url 'blog:tag' tag %}" class="tag-cloud-link">{{tag}}</a>
					  {% endfor %}
				</div>
			  </div>


			</div>

		  </div>

		  
		</div>
	  </div>
	{% endblock body %}