{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load bootstrap4 %}
		
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-9 ftco-animate">
	            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Contact Us</span></p>
	            <h1 class="mb-3 bread">Contact Us</h1>
	            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	          </div>
	        </div>
				</div>
			</section>
			<section class="ftco-section contact-section">
	      <div class="container">
	        <div class="row d-flex mb-5 contact-info">
	          <div class="col-md-12 mb-4">
	            <h2 class="h3">Contact Information</h2>
	          </div>
	          <div class="w-100"></div>
	          <div class="col-md-3 d-flex">
	          	<div class="info bg-light p-4">
		            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
		          </div>
	          </div>
	          <div class="col-md-3 d-flex">
	          	<div class="info bg-light p-4">
		            <p><span>Phone:</span> <a href="{{ contact.phone_number}}">{{ contact.phone_number}}</a></p>
		          </div>
	          </div>
	          <div class="col-md-3 d-flex">
	          	<div class="info bg-light p-4">
		            <p><span>Email:</span> <a href="mailto:{{ contact.email}}"></a>{{ contact.email}}</a></p>
		          </div>
	          </div>
	          
	        </div>
	        <div class="row block-9">
	          <div class="col-md-6 order-md-last d-flex">
	            
					
	            
	          
	          </div>

	          <div class="col-md-6 d-flex">
	          	<div id="map" class="bg-light">
					<h2>BOOK A SHOOT</h2>
					
					  <form  method="post" class="form">
						{% csrf_token %}
						{% bootstrap_form reserve_form %}
						{% buttons %}
							<button type="submit" class="btn btn-primary">BOOK NOW!!!</button>
						{% endbuttons %}
					</form>
					
				  </div>
	          </div>
	        </div>
	      </div>
	    </section>
	
{% endblock body %}